<div class='sticky-top nav-sidebar'>
  <div class='d-inline-block no-padding'>
    <%= image_tag "logo.png", class: 'nav-logo' %>
  </div>
  <div class='d-inline-block no-padding'>
    <ul class='nav flex-column'>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
  <div class='list-inline social-media text-center'>
    <a id='instagram' class='list-inline-item' href='https://www.instagram.com/thebigkhostel/' target='_blank'>Instagram</a>
    <a id='facebook' class='list-inline-item' href='https://www.facebook.com/thebigkhostel/' target='_blank'>Facebook</a>
  </div>
</div>