<li class='nav-item'><%= link_to 'Gallery', "#gallery", class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Vision', "#vision", class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'The Hostel', "#the-hostel", class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Activities', "#activities", class: 'nav-link' %></li>

